<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

    <body>
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            신비아파트</h1>
        <br>
        <h2>2층</h2>

    
        <a href="{% url 'moving_in' %}">입주하기</a>
        <br><br>
        <img src="/static/image/couple.png" width='300' height='250'>
        <a class="btn btn-default" width='500'>염병하기</a>

        {% block content %}
        {% endblock %}
        <br><br>
        <h2>1층</h2><img src="/static/image/angrythanos.png" width='300' height='250'>
        <a class="btn btn-default" href="{% url 'bangal' %}" width='500'>반갈죽</a>
    </body>
</html>