<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <style>
            div{
                float:left;
            }
        </style>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

    <body>
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            신비아파트</h1>
        <br>
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2층</h2>

    
        <a href="{% url 'moving_in' %}">입주하기</a>
        <br><br>
        
        {% for couple in couples %}
            <div>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'couple_main' pk=couple.pk %}">{{couple.name}} 호</a></p><br>
                {% if couple.photo %}
                <img src="{{couple.photo.url}}" alt="{{couple.name}}" width='300' height='250'>
                {% endif %}
            </div>
        {% endfor %}
        

        {% block content %}
        {% endblock %}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1층</h2><img src="/media/core/images/happythanos.jpg" width='300' height='250'>
        
    </body>
</html>