<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

    <body>
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            신비아파트</h1>
        <br>
        <h2>2층</h2>
        
        {% if couple.choice == 1 %}
        <img src="/media/core/images/sadman.jpg" width='200' height='200'>
        <img src="/media/core/images/가루.jpg" width='150' height='80'>
        
        {% endif %}
        {% if couple.choice == 0 %}
        <img src="/media/core/images/가루.jpg" width='150' height='80'>
        <img src="/media/core/images/sadman2.jpg" width='200' height='200'>
        {% endif %}

        <a class="btn btn-default" href="{% url 'moving_out' pk=couple.pk %}" width='500'>증거인멸하기</a>
        <a class="btn btn-default" href="{% url 'home' %}" width='500'>신고하기</a><br>
        <br>
        

        {% block content %}
        {% endblock %}
        <br><br>
        <h2>1층</h2><img src="/media/core/images/happythanos.jpg" width='300' height='250'>
        <br>
        
    </body>
</html>