<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Title</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

    <body>
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            신비아파트</h1>
        <br>
        <h2>2층</h2>

    
        <img src="/media/core/images/sadman.jpg" width='200' height='250'><img src="/media/core/images/가루.png" width='200' height='100'>
        <br>
        <!-- <a class="btn btn-default" href="{% url 'moving_out' pk=couple.pk %}" width='500'>방빼기</a><br> -->
        <a class="btn btn-default" href="{% url 'moving_out' pk=couple.pk %}" width='500'>방빼기</a><br>
        <br>
        

        {% block content %}
        {% endblock %}
        <br><br>
        <h2>1층</h2><img src="/media/core/images/happythanos.jpg" width='300' height='250'>
        <br>
        
    </body>
</html>